html {
  width: 100%;
  height: 100%;
  /* background-color: #A87676; */
  background-color: #53A8B6;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #53A8B6; /* Warna latar belakang untuk header */
  padding: 2rem;
  text-align: center;
}

header:hover {
  background-color: #79C2D0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; /* Tengahkan konten horizontal */
  background-color: #BBE4E9;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.icon {
  display: flex;
  margin: 1.25rem auto; /* Posisikan di tengah */
  justify-content: center;
  border: 1rem solid #f3f3f3;
  border-radius: 100%;
  border-top: 1rem solid #79C2D0;
  border-right: 1rem solid #53A8B6;
  border-bottom: 1rem solid #4682A9;
  border-left: 1rem solid #146C94;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center; /* Tengahkan elemen dalam kolom */
  z-index: 1;
  margin: 0.625rem auto 1.25rem; /* Auto margin kiri dan kanan untuk menengahkan */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(32, 28, 28);
  margin: 2.25rem auto 0.625rem; /* Atur margin atas, bawah, dan kiri-kanan menjadi auto */
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; /* Menambahkan flex-direction agar elemen-elemen dalam satu kolom */
  align-items: center; /* Tengahkan elemen-elemen dalam sumbu utama */
  font-family: "Roboto Condensed", sans-serif;
}

.button {
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0.625rem auto; /* Atur margin atas dan bawah menjadi auto, dan kiri-kanan menjadi auto untuk memposisikan ke tengah */
}
h1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.button:hover {
  background-color: #53A8B6; /* Ubah warna background ketika kursor menunjuk */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #BBE4E9;
  margin-left: -15px; /* Mengompensasi padding default */
  margin-right: -15px; /* Mengompensasi padding default */
}

.right-elements {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdate,
.dropborough,
.dropyear,
.filter {
  background-color: #ACE2E1;
  color: #a87676;
  padding: 7px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.dropdate:hover,
.dropborough:hover,
.dropyear:hover,
.filter:hover {
  background-color: #4682A9;
}

.dropdown-date,
.dropdown-borough,
.dropdown-year {
  display: none;
  position: absolute;
  background-color: #53A8B6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px;
  top: calc(100% + 5px);
  left: 0;
}

/* Tambahkan aturan untuk menampilkan dropdown saat hover */
.dropdate:hover + .dropdown-date,
.dropborough:hover + .dropdown-borough,
.dropyear:hover + .dropdown-year,
.dropdown-date:hover,
.dropdown-borough:hover,
.dropdown-year:hover {
  display: block;
}

.dropdown-date input[type="checkbox"],
.dropdown-borough input[type="checkbox"],
.dropdown-year input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 0; /* Menjadikan input checkbox rata kiri */
}

.dropdown-date label,
.dropdown-borough label,
.dropdown-year label {
  display: flex; /* Membuat label menjadi flex container */
  align-items: center; /* Mengatur posisi vertikal label dan checkbox */
}

.dropdown-date label > span,
.dropdown-borough label > span,
.dropdown-year label > span {
  margin-right: 8px; /* Memberikan jarak antara checkbox dan label */
}

.dropdate,
.dropborough,
.dropyear {
  margin-left: 0;
}
.dropborough + .dropdown-borough {
  top: calc(74% + 0.8rem);
  left: auto;
  right: 20rem;
}
.dropdate + .dropdown-date {
  top: calc(74% + 0.8rem);
  left: auto;
  right: 24.1rem;
}
.dropyear + .dropdown-year {
  top: calc(74% + 0.8rem);
  left: auto;
  right: 14.3rem;
}
/* Tambahkan aturan untuk mencegah penutupan dropdown saat mengklik di dalamnya */
.dropdown-date,
.dropdown-borough,
.dropdown-year {
  pointer-events: auto;
}

/* .button {
  position: relative;
  display: inline-block;
  float: right;
  border: 1px solid black; 
  border-radius: 2px;
  align-items: end;
  background-color: #FFD0D0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right:2rem;
  padding-left: 2rem;
}
.button:hover {
  background-color: rgb(250, 185, 185);
} */
/* Dropdown content (hidden by default) */
section {
  background-color: #53A8B6;
  padding: 1rem;
  text-align: center;
}

section:hover {
  background-color: #79C2D0;
}

.col-total-borough,
.col-total-sale-price,
.col-total-lot,
.col-total-units {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: #ACE2E1;
  width: 15rem; /* Menetapkan lebar relatif untuk setiap elemen */
  padding: 1rem; /* Menambahkan jarak di dalam setiap elemen */
  gap: 1rem; /* Menambahkan jarak di luar setiap elemen */
  border-radius: 2rem;
}

.col-total-borough:hover,
.col-total-sale-price:hover,
.col-total-lot:hover,
.col-total-units:hover {
  background-color: #4682A9;
}

.p {
  display: block; /* Mengubah elemen p menjadi blok */
  background-color: #176B87;
  font-weight: bold;
  font-size: larger;
  color: black;
  margin-left: -15px; /* Membuat margin kiri -15px untuk mengompensasi padding default */
  margin-right: -15px; /* Membuat margin kanan -15px untuk mengompensasi padding default */
  padding: 2rem 0; /* Mengatur padding atas dan bawah saja */
  text-align: center;
  width: calc(
    100% + 30px
  ); /* Menetapkan lebar 100% dengan penambahan margin kiri dan kanan */
}

.p:hover {
  background-color: #53A8B6;
}

.row {
  display: flex;
  justify-content: space-between; /* Menyebarkan elemen sepanjang baris */
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; /* Tambahkan jarak antara kolom-kolom */
  padding: 2rem;
}
.col {
  flex: 1; /* Menggunakan flex untuk menyesuaikan ukuran kolom */
  max-width: calc(
    50% - 2rem
  ); /* Setiap kolom harus memiliki lebar maksimum 50% minus jarak antar kolom */
}
#data-table {
  border-collapse: collapse;
  width: 100%;
}

#data-table th,
#data-table td {
  border: 1px solid #53A8B6;
  padding: 8px;
}

#data-table th {
  background-color: #53A8B6;
  font-weight: bold;
}

.pagination {
  display: flex; /* Mengatur pagination secara horizontal */
  justify-content: center; /* Pusatkan pagination secara horizontal */
  list-style-type: none; /* Hilangkan bullets */
  padding: 0;
  margin-top: 20px; /* Tambahkan margin atas untuk jarak dengan tabel */
}

.pagination li {
  margin-right: 10px; /* Jarak antara setiap elemen pagination */
}

.pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #53A8B6;
  background-color: #f2f2f2;
}

.pagination li.active a {
  background-color: #53A8B6; /* Warna latar belakang untuk halaman aktif */
}
footer {
  background-color:#53A8B6;
  padding: 20px;
  text-align: center;
}
.footer:hover{
  background-color: #79C2D0;
}
.nama {
  background-color: #4682A9;
  padding: 1%;
  margin: 5%;
  text-align: center;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
.nama:hover {
  background-color: #79C2D0;
}
.profile {
  max-width: 300px; /* Sesuaikan dengan kebutuhan */
  display: inline-block; /* Agar elemen berada di tengah */
}
.profile img {
  width: 20rem; /* Ubah nilai sesuai dengan kebutuhan */
  height: 20rem; /* Tinggi gambar akan sama dengan lebarnya */
}
